* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0' gradientTransform='rotate(6,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%230FF'/%3E%3Cstop offset='1' stop-color='%23CF6'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(122,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23FF0000'/%3E%3Cstop offset='1' stop-color='%23FFCC00'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='4.949999999999999'%3E%3Cpath transform='translate(-48.3 0.40000000000000036) rotate(-2.5999999999999996 1409 581) scale(0.9618599999999999)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='1.6500000000000001' transform='translate(-67.5 39) rotate(2.2 800 450) scale(1.00091)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(4.699999999999999 -31.5) rotate(12.5 401 736) scale(1.00091)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='1.5'%3E%3Cpath transform='translate(234 3.4000000000000004) rotate(-0.8500000000000001 150 345) scale(0.9986199999999998)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='3.3000000000000003' transform='translate(-51.5 -107) rotate(3.5999999999999943 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='translate(-127.6 32.4) rotate(0.5999999999999996 1400 132) scale(0.905)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

a {
  text-decoration: none;
}

.gradient {
  background: linear-gradient(to right, #22577a, #38a3a5, #6ef3d6);
  /* background: linear-gradient(to left, #a1ff8b, #3f93ff); */
  /* background: linear-gradient(to left, #4b55db, #34e0e0); */
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/* Navbar */
.menu-link {
  color: #38a3a5;
  font-size: 15px;
  font-weight: 700;
  padding: 5px;
}

/* Hero Banner */
.hero-banner-image {
  border-radius: 15px;
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

/* Footer */
/* footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -9999;
} */

.copyright {
  color: #ccc;
  text-align: center;
}

/* Form */
.signup-form,
.login-form {
  border-radius: 10px;
}

.login-link,
.signup-link {
  color: #38a3a5;
}

.with-separators {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-transform: uppercase;
  width: 95%;
  color: rgb(118, 116, 116);
}

.with-separators:before,
.with-separators:after {
  content: "";
  flex: 1;
  height: 1px;
  background: rgb(170, 163, 163);
}

/* Register Page */
.side-image {
  border-radius: 15px;
  object-fit: cover;
  width: 100% !important;
  height: auto;
  transform: scaleX(-1);
}

.signup-form input,
.login-form input {
  padding: 12px !important;
}

.image-fit {
  object-fit: cover;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.text-bold {
  font-weight: bold;
}
