* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.gradient {
  background: linear-gradient(to right, #22577a, #38a3a5, #6ef3d6);
  /* background: linear-gradient(to left, #a1ff8b, #3f93ff);
  background: linear-gradient(to left, #4b55db, #34e0e0); */
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/* Navbar */
.menu-link {
  color: #38a3a5;
  font-size: 15px;
  font-weight: 700;
  padding: 5px;
}

/* Hero Banner */
.hero-banner-image {
  border-radius: 15px;
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

/* Footer */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.copyright {
  color: #ccc;
  text-align: center;
}

/* Form */
.signup-form,
.login-form {
  border-radius: 10px;
}

.login-link,
.signup-link {
  color: #38a3a5;
}

.with-separators {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-transform: uppercase;
  width: 95%;
  color: rgb(118, 116, 116);
}

.with-separators:before,
.with-separators:after {
  content: "";
  flex: 1;
  height: 1px;
  background: rgb(170, 163, 163);
}

/* Register Page */
.side-image {
  border-radius: 15px;
  object-fit: cover;
  width: 100% !important;
  height: auto;
  transform: scaleX(-1);
}

.signup-form input,
.login-form input {
  padding: 12px !important;
}
